<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="./../assets/css/style.css">
</head>
<body>
    
    <h1>Jakaś tam strona</h1>
    <h1>{{ pageTitle }}</h1>
    <input type="text" id="input">
    <button id="btn">Pobierz dane</button>
    <div id="showData"></div>

    <img src="./../assets/img/img.png" alt="">
    <a href="./about">Idź do strony o mnie</a>
    <script src="./../js/func.js"></script>
</body>
</html>